/* montserrat */
@font-face {
    font-family: "montserrat-regular";
    src: url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-bold";
    src: url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

/* libre baskerville */
@font-face {
    font-family: "librebaskerville-regular";
    src: url("./fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
    url("./fonts/librebaskerville-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-italic";
    src: url("./fonts/librebaskerville-italic-webfont.woff2") format("woff2"),
    url("./fonts/librebaskerville-italic-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "librebaskerville-bold";
    src: url("./fonts/librebaskerville-bold-webfont.woff2") format("woff2"),
    url("./fonts/librebaskerville-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}