body {
  font-family: "librebaskerville-regular", serif;
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

/********************MAIN*********************/

#main {
  position: relative;
}

/********************LIGHT********************/

.light {
  color: #3b3333;
}

.light .menu-button {
  color: #000000;
}

.light .menu-icon {
  background-color: #000000;
}

.light .skills-p {
  color: #fbfdff;
}

.light .header-a {
  color: rgb(46, 37, 37);
}

.light .header-a:hover {
  color: rgba(0, 0, 0, 1);
}

.light .university-time {
  color: #757575;
}

.light .skills-h3 {
  color: #ffae6e;
}

.light .skills-p {
  color: #ffd4b3;
}

.light .skill-bars li {
  background: #986034;
}

/********************DARK-THEME********************/

.dark {
  color: white;
}

.dark .menu-button {
  color: #fff;
}

.dark .menu-icon {
  background-color: #fff;
}

.dark .skills-p {
  color: white;
}

.dark .header-a {
  color: rgb(255, 234, 206);
}

.dark .header-a:hover {
  color: rgb(233, 77, 231);
}

.dark .university-time {
  color: #000000;
}

.dark .skills-h3 {
  color: #ca4fa0;
}

.dark .skills-p {
  color: #dc9ad9;
}

.dark .skill-bars li {
  background: #b865e5;
}

.light, .dark, .skills-p, .skills-h3, .university-time, .skills-p, .skill-bars li, .menu-icon, .menu-button {
  transition: all 1.2s ease-in-out;
}

.header-a {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

/********************OVERLAY********************/

.overlay-on, .overlay-off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: all 0.7s ease-in-out;
}

.overlay-on {
  background-color: #000000;
  opacity: .6;
}

.overlay-off {
  opacity: 0.01;
  background: #ffffff;
}

.switch-theme {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 30;
}

.switch-theme button:hover {

}

.switch-theme button:focus {
  outline: none;
  box-shadow: none;
}

/********************HEADER********************/

header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 25;
}

.header-logo {
  display: block;
  margin: 30px 0 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 60px;
  height: 60px;
  background: url("./image/logo.png") no-repeat center;
  background-size: 110px 110px;
  font: 0/0 a;
  text-shadow: none;
}

/**********************MENU*********************/

.menu-button {
  display: block;
  width: 125px;
  background: transparent;
  position: fixed;
  top: 1.9rem;
  right: 2.2rem;
  margin-top: 1.25rem;
  transition: all 0.3s;
}

.menu-button:focus {
  outline: none;
  box-shadow: none;
}

.menu-button:hover {
  transform: scale(1.1);
}

.menu-button-text {
  font-size: .9rem;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.menu-icon {
  display: block;
  height: 2px;
  width: 24px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}

.menu-icon:before, .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}

.menu-icon:before {
  top: -9px;
}

.menu-icon:after {
  bottom: -9px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-collapse {
  background: #111111;
  color: rgba(255, 255, 255, 0.25);
  font-family: "montserrat-regular", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  padding: 2.3rem 1.8rem;
  height: 100%;
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 15;
}

.navbar-collapse .navbar-nav a,
.navbar-collapse .navbar-nav a:visited {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse h3 {
  color: white;
  font-family: "montserrat-regular", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.navbar-collapse .close-button {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 36px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.navbar-collapse .close-button span::before,
.navbar-collapse .close-button span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px;
}

.navbar-collapse .close-button span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-collapse .close-button span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-collapse h3 {
  color: white;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* menu is open */
.navbar-collapse-toggle {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}

.menu-is-open {
  visibility: visible;
  right: 240px;
}

.navbar-collapse .navbar-nav {
  position: absolute;
  right: 50px;
  width: 65%;
}

.navbar-collapse .navbar-nav .nav-item {
  padding-left: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.03);
  line-height: 1.8rem;
}

.navbar-collapse .navbar-nav .nav-item:first-child {
  border-top: 1px dotted rgba(255, 255, 255, 0.03);
}

.navbar-collapse .navbar-nav .nav-item a {
  color: rgba(255, 255, 255, 0.25);
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-collapse .navbar-nav .nav-item a:hover,
.navbar-collapse .navbar-navt .nav-item a:focus {
  color: white;
}

/********************SECTION-HOME********************/

#home {
  width: 100%;
  height: 100vh;
  background: url(./image/intro-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}

.z-i {
  z-index: 10;
}

.home-content {
  padding: 0 6rem;
  margin-top: 25rem;
}

.home-content h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: 0 0 0 .3rem;
}

.home-content h1 {
  font-family: "librebaskerville-bold", serif;
  font-size: 3.2rem;
  line-height: 1.5;
}

.home-content-position {
  position: relative;
  top: 50%;
  z-index: 10;
}

.home-section-links {
  display: inline-block;
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

.home-section-links li {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-right: 1.9rem;
  margin-bottom: .6rem;
}

.home-section-links li a {
  font-family: "librebaskerville-regular", serif;
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: 0;
  margin-left: .3rem;
  text-decoration: none;
  transition: all .3s;
}

/********************SECTION-ABOUT********************/

#about {
  position: relative;
}

.about-left {
  min-height: 100vh;
  background: rgba(253, 230, 230, 0.65);
}

.light .about-left {
  background: rgba(253, 230, 230, 0.65);
}

.dark .about-left {
  background: rgba(0, 0, 0, 0.65);
}

.about-profile {
  padding-top: 7rem;
  padding-right: 5rem;
  z-index: 15;
}

.about-right {
  min-height: 100vh;
}

.light .about-right {
  background: white;
}

.dark .about-right {
  background: rgba(0, 0, 0, 0.55);
}

.about-education {
  padding-top: 7rem;
  padding-left: 5rem;
  z-index: 15;
}

.about-education p {
  line-height: 1.5rem;
}

#about h3.red {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: 0 0 1rem .3rem;
}

.light #about h3.red {
  color: #ff5e5e;
}

.dark #about h3.red {
  color: #f062e0;
}

.dark .university-time {
  color: #f0ace9;
}

.about-left h1, .about-right h1 {
  font-family: "librebaskerville-bold", serif;
  font-size: 2rem;
  line-height: 2;
}

.about-profile p, .about-education p {
  font-size: 1rem;
  line-height: 2rem;
}

.university {
  margin-bottom: 4.2rem;
}

.university:last-child {
  margin-bottom: 0;
}

.university-content {
  padding-left: 3rem;
  margin-top: 2rem;
}

.university-time, .university-name, .university-degree, .university-info {
  padding: 0;
  margin: 0;
  font-size: .9rem;
}

.university-info {
  line-height: 1.4rem;
}

.university-time {
  font-family: "montserrat-regular", sans-serif;
  color: #757575;
}

.university-name {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
}

.university-degree {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 2rem;
}

/**********************SKILLS*********************/

.skills {
  min-height: 100vh;
  background: url(./image/skills-bg.jpg) no-repeat center top;
  background-size: cover;
  padding: 4rem 0 .6rem 3rem;
}

.skills h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin-bottom: 0;
}

.skills h1 {
  font-family: "librebaskerville-bold", serif;
  font-size: 2rem;
  line-height: 1.375;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}

.skill-bars {
  margin-top: 7rem;
  list-style-type: none;
  padding: 0;
  color: white;
}

.skill-bars li {
  background: #986034;
  margin-bottom: 4.2rem;
  height: .4rem;
  width: 100%;
  padding: 0;
  position: relative;
}

.progress {
  position: relative;
  height: 100%;
  border-radius: 0;
  overflow: visible;
}

.skill-bars p {
  position: absolute;
  left: 0;
  top: -3rem;
  font-family: "montserrat-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1rem;
  line-height: 2.4rem;
}

.percent90 {
  width: 90%;
}

.percent85 {
  width: 85%;
}

.percent70 {
  width: 70%;
}

.percent55 {
  width: 55%;
}

.percent50 {
  width: 50%;
}

.skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -2.9rem;
  display: block;
  font-family: "montserrat-regular", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1;
  background: #313131;
  padding: .6rem .6rem;
  border-radius: 3px;
}

.progress span::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #313131;
  content: "";
}

/****************************API-SECTION*******************************/

#api {
  min-height: 100vh;
}

.light #api {
  background: #fbe9e9;
}

.dark #api {
  background: #ffd0fc;
}

#api h3 {
  font-size: 1.25rem;
}

#api h5 {
  font-size: .9rem;
}

.api-header {
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}

.api-logo {
  margin-right: 3rem;
  margin-left: 4rem;
  height: 75px;
  width: 133px;
  background: url("./image/api-logo.png");
  -webkit-background-size: cover;
  background-size: cover;
}

.api-btn {
  margin-left: 1rem;
}

.api-search-bar input {
  font-size: .9rem;
  line-height: 2rem;
  padding: 0.3rem .6rem;
}

.track-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  column-count: 4;
}

.track-title {
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.track-list li {
  width: 25rem;
  display: flex;
  margin-bottom: 2rem;
  position: relative;
}

.audio {
  margin: 5rem 0 2rem 2rem;
}

.track-info {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  padding-top: 1rem;
}

#img {
  max-width: 10rem;
  max-height: 10rem;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.68);
}

.t {
  position: relative;
  opacity: 0.9;
  height: 10rem;
}

.button:hover {
  transform: scale(1.1);
}

.on {
  transform: scale(1.2);
}

.buttonPlay, .buttonStop {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  border-radius: 50%;
  opacity: 0.9;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-style: none;
  transition: all .218s ease 0s;
}

.buttonPlay {
  background: url("./image/play.png");
  -webkit-background-size: cover !important;
}

.buttonPlay:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  transform: scale(1.1);
}

.buttonPlay:focus {
  outline: none;
}

.buttonPlay:active {
  margin-top: 2.8rem;
}

/*****************************FOOTER***************************/

#contact {
  height: 100vh;
}

#contact h3 {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

#contact h5 {
  font-weight: bold;
}

#contact h5, #contact p {
  font-size: 1.1rem;
}

.contact-social {
  margin-top: 2rem;
  padding: 0;
}

.contact-social li {
  display: inline-block;
  text-decoration: none;
  padding-left: 0;
  margin: 0 .5rem;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}

.contact-details {
  margin: 15rem 0 4rem;
}

footer {
  padding: 3rem 0;
}

.copy-right {
  font-size: 1rem;
  margin-top: 2rem;
}

.dark #contact {
  background: #0a0303;
}

.light #contact {
  background: rgba(203, 203, 203, 0.16);
}